/* Tip Container */

.tooltip {
    display: inline-block;
    position: relative;
}


/* Tip root */

.tips {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    .tip {
        position: absolute;
        left: 0px;
        top: 0px;
        /* Default container */
        &__container {
            position: absolute;
            /* visibility: hidden;
            opacity: 0; */
            z-index: 1000;
            pointer-events: none;
            &--enabled-hover {
                pointer-events: auto;
            }
        }
        /* Default arrow */
        &__arrow {
            position: absolute;
            z-index: 1001;
            border: 6px solid transparent;
            background: transparent;
            width: 0;
            height: 0;
        }
        /* Default content */
        &__content {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            padding: 8px;
            background: hsla(0, 0%, 20%, 0.9);
            color: #fff;
            font-size: 13px;
            line-height: 1.2;
            display: block;
            position: absolute;
            box-sizing: border-box;
            white-space: pre;
            width: auto;
            text-align: left;
            /* Gap at arrow background for hover use */
            &::before {
                content: '';
                display: block;
                position: absolute;
            }
            /* Text align */
            &--left {
                text-align: left;
            }
            &--center {
                text-align: center;
            }
            &--right {
                text-align: right;
            }
        }
        /* Directions */
        /* Top (default) */
        &--top {
            .tip__container {
                transform: translateY(-6px);
                /* Arrow */
                .tip__arrow {
                    border-top: 6px solid hsla(0, 0%, 20%, 0.9);
                    left: -6px;
                    bottom: -12px;
                }
                /* Content */
                .tip__content {
                    /* Gap at arrow background for hover use */
                    &::before {
                        width: 100%;
                        height: 12px;
                        bottom: -12px;
                        left: 0px;
                    }
                    transform: translateX(-50%);
                    left: 0px;
                    bottom: 0px;
                }
                /* Transition */
                &.tip--slide-enter {
                    opacity: 0.01;
                    transform: translateY(0px);
                }
                &.tip--slide-enter.tip--slide-enter-active {
                    opacity: 1;
                    transform: translateY(-6px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
                &.tip--slide-leave {
                    opacity: 1;
                    transform: translateY(-6px);
                }
                &.tip--slide-leave.tip--slide-leave-active {
                    opacity: 0.01;
                    transform: translateY(0px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
            }
        }
        /* Left */
        &--left {
            .tip__container {
                transform: translateX(-6px);
                /* Arrow */
                .tip__arrow {
                    border-left: 6px solid hsla(0, 0%, 20%, 0.9);
                    right: -12px;
                    bottom: -6px;
                }
                /* Content */
                .tip__content {
                    /* Gap at arrow background for hover use */
                    &::before {
                        width: 12px;
                        height: 100%;
                        right: -12px;
                        bottom: 0px;
                    }
                    transform: translateX(-100%);
                    left: 0px;
                    bottom: -12px;
                }
                /* Transition */
                &.tip--slide-enter {
                    opacity: 0.01;
                    transform: translateX(0px);
                }
                &.tip--slide-enter.tip--slide-enter-active {
                    opacity: 1;
                    transform: translateX(-6px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
                &.tip--slide-leave {
                    opacity: 1;
                    transform: translateX(-6px);
                }
                &.tip--slide-leave.tip--slide-leave-active {
                    opacity: 0.01;
                    transform: translateX(0px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
            }
        }
        /* Right */
        &--right {
            .tip__container {
                transform: translateX(6px);
                /* Arrow */
                .tip__arrow {
                    border-right: 6px solid hsla(0, 0%, 20%, 0.9);
                    left: -12px;
                    bottom: -6px;
                }
                /* Content */
                .tip__content {
                    /* Gap at arrow background for hover use */
                    &::before {
                        width: 12px;
                        height: 100%;
                        left: -12px;
                        bottom: 0px;
                    }
                    left: 0px;
                    bottom: -12px;
                }
                /* Transition */
                &.tip--slide-enter {
                    opacity: 0.01;
                    transform: translateX(0px);
                }
                &.tip--slide-enter.tip--slide-enter-active {
                    opacity: 1;
                    transform: translateX(6px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
                &.tip--slide-leave {
                    opacity: 1;
                    transform: translateX(6px);
                }
                &.tip--slide-leave.tip--slide-leave-active {
                    opacity: 0.01;
                    transform: translateX(0px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
            }
        }
        /* Bottom */
        &--bottom {
            .tip__container {
                transform: translateY(6px);
                /* Arrow */
                .tip__arrow {
                    border-bottom: 6px solid hsla(0, 0%, 20%, 0.9);
                    left: -6px;
                    top: -12px;
                }
                /* Content */
                .tip__content {
                    /* Gap at arrow background for hover use */
                    &::before {
                        width: 100%;
                        height: 12px;
                        top: -12px;
                        left: 0px;
                    }
                    transform: translateX(-50%);
                    left: 0px;
                    top: 0px;
                }
                /* Transition */
                &.tip--slide-enter {
                    opacity: 0.01;
                    transform: translateY(0px);
                }
                &.tip--slide-enter.tip--slide-enter-active {
                    opacity: 1;
                    transform: translateY(6px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
                &.tip--slide-leave {
                    opacity: 1;
                    transform: translateY(6px);
                }
                &.tip--slide-leave.tip--slide-leave-active {
                    opacity: 0.01;
                    transform: translateY(0px);
                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
                }
            }
        }
    }
}