.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    &-title {
        text-align: center;
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
    }
    &-subtitle {
        font-size: 24px;
        margin-top: 20px;
    }
    &-searchbar{
        width: 300px;
        height: 70px;
        background-color: white;
        border-radius: 90px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__input{
            flex: 1;
            outline: none;
            border: 0px;
            text-indent: 30px;
            font-size: 16px;
        }
        &__bt{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin-right: 5px;
            background-color: #fe7378;
            cursor: pointer;
            border-radius: 90px;
            &-icon{
                width: 8px;
            }
        }
        &__hint{
            width: 80%;
            text-align: center;
            font-weight: bold;
            line-height: 30px;
            font-size: 16px;
            color: #555555;
            margin-top: 20px;
        }
        &--error{
            border: 1px solid red;
        }
    }
}