/* Component : pagination */

.pagination {
	width: 100%;
	color: #999;
	background: black;
	font-family: Arial, Helvetica, sans-serif;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	flex-direction: column;
	align-items: center;
	padding: 7px 0px;
	&__btn-group {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		border: 0;
		border-radius: 90%;
		background: transparent;
		font-size: 12px;
		margin: 0px 2px;
		min-width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: #CCCCCC;
		}
		&:focus {
			outline: 0;
		}
		&--active {
			background: white;
			color: black;
			&:hover {
				color: black;
			}
		}
		&--disabled {
			color: #e2e2e2;
			cursor: default;
			&:hover {
				color: #e2e2e2;
			}
		}
	}
}