.card-item {
    margin: 10px;
    width: 220px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.job-name {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 6px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comapny-name {
    font-size: 16px;
    color: #999;
}

.score-wrap {
    max-width: 280px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px;
}

.score-good {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score-good .circle {
    border: 2px solid #5cd941;
}

.score-good .circle div {
    color: #a19faa;
    font-weight: bold;
}

.score-bad {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score-bad .circle {
    border: 2px solid #ae75bf;
}

.score-bad .circle div {
    color: #a19faa;
    font-weight: bold;
}

.score-name {
    color: #a19faa;
    font-size: 12px;
}

.card-action-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card-like-wrap {
    width: 50%;
}

.card-apply-wrap {
    width: 50%;
}

.like-img,
.apply-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    margin-top: 12px;
}

.like-img {
    color: #a19faa;
}

.like-img img {
    width: 24px;
    margin-right: 5px;
}

.apply-img {
    background-color: #fe7378;
    color: #fff;
}

.apply-img img {
    width: 24px;
    margin-right: 5px;
}