@keyframes load {
    0% {
        stroke-dashoffset: 0;
    }
}

.circular-progress {
    .filling-gradient {
        animation: load 1s ease-in-out;
        transition: stroke-dashoffset .6s cubic-bezier(.54, .1, .21, 1);
    } // transform: scale(-1, 1); // horizontal mirroring if needed
}

.tag{

}

.home{
    width: 100%;
    &__search{
        width:1280px;
    }
    &__map{

    }
    &__background{
        z-index: -10;
        width: 100%;
        background-color: #f4f7fa;
        position: absolute;
    }
}

._loading-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    // .bqUHVp{
    //     stroke:#0087dc
    // }
    // .fkRHAk{
    //     .div{
    //         color: #0087dc !important;
    //     }
    // }
}