.map {
    display: flex;
    flex-direction: column;
    &__box {
        display: flex;
        &__backgorund {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -5;
        }
        &_map-title{
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            color: #555555;
            margin: 10px 0px 20px 50px;
        }
        &_progress {
            &-left {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &-score {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    text-align: center;
                    line-height: 150px;
                    font-size: 40px;
                    font-weight: bold;
                    color: #8cc63f;
                }
                &-line{
                    position: absolute;
                    border-radius: 5px;
                    width: 3px;
                    height: 20px;
                    top: -8px;
                    left: 74px;
                    background-color: #8cc63f;
                }
            }
            &-right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &-score {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    line-height: 150px;
                    text-align: center;
                    font-size: 40px;
                    font-weight: bold;
                    color: #a18cd1;
                }
                &-line{
                    position: absolute;
                    border-radius: 45px;
                    width: 3px;
                    height: 20px;
                    top: -8px;
                    left: 74px;
                    background-color: #fbc2eb;
                }
            }
        }
    }
    &__cardlist {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

//taiwan map
.svg-map {
    width: 100%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    &__location {
        fill: transparent !important;
        filter: blur(20) !important;
        cursor: pointer;
        &:focus,
        &:hover {
            fill: #f4bc44 !important;
            filter: blur(20) !important;
            outline: 0;
        }
        &[aria-checked=true] {
            fill: #0087dc !important;
        }
    }
}

/* Using box model */

* {
    box-sizing: border-box;
}

/* Maps examples */

.examples {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
    &__title {
        margin-bottom: 80px;
        padding-bottom: 40px;
        border-bottom: 1px dotted black;
        font-size: 24px;
    }
    &__block {
        margin-bottom: 80px;
        padding-bottom: 80px;
        border-bottom: 1px dotted black;
        &__title {
            margin-bottom: 40px;
            font-size: 20px;
        }
        &__info {
            display: inline-block;
            vertical-align: top;
            width: 450px;
            text-align: left;
            &__item {
                margin-bottom: 20px;
            }
        }
        &__map {
            flex: 1;
            &--australia {
                .svg-map {
                    stroke-width: 0.5; // Australia stroke is larger than other maps
                }
            }
            &--usa {
                width: 800px; // USA needs more space	for tooltip
            }
            &__tooltip {
                align-items: center;
                flex-direction: column;
                &-box {
                    padding: 10px 20px;
                    color: white;
                    border-radius: 45px;
                    background-color: #555555;
                }
                &-arrow {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 5px 0 5px;
                    border-color: #555555 transparent transparent transparent;
                }
            }
        }
    }
}